.mainImage{
    overflow: hidden;
}
.image{
    transition: transform 3s;
}
.image:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
  }

  ul{
    transition: 3s;
  }
  li{
    transition: 3s;
  }